<div class="container">
    <div class="row">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th *ngFor="let header of headers"> {{ header }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let despesa of listaDespesa">
                    <th scope="row">{{ despesa.id }}</th>
                    <td>{{ despesa.data }}</td>
                    <td>{{ despesa.descricao }}</td>
                    <td>{{ despesa.valor | currency:'BRL':'symbol':'1.2-2'}}</td>
                    <td>{{ despesa.categoria }}</td>
                    <td>{{ despesa.instrumento }}</td>
                    <td>{{ despesa.tipoRateio }} </td>
                    <td>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                            </svg>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="row">
        <div class="col"></div>
        <div class="col-2 text-end">
            <button type="button" 
                    class="btn btn-outline-secondary btn-lg" 
                    (click)="buscaListaDespesa(paginaAnterior)"
                    [disabled]="paginaAtual==1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z" />
                </svg>
                <span class="visually-hidden"></span>
            </button>
        </div>
        <div class="col-2 text-center" >
            <div style="margin-top:12px;"> {{(paginaAtual)}} de {{totalDePaginas}} </div>
        </div>
        <div class="col-2"> 

            <button type="button" 
                    class="btn btn-outline-secondary btn-lg" 
                    (click)="buscaListaDespesa(proximaPagina)"
                    [disabled]="paginaAtual==totalDePaginas">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-bar-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                </svg>
                <span class="visually-hidden"></span>
            </button></div>
        <div class="col"></div>
    </div> -->
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <pagination [totalItems]="30" 
                        [itemsPerPage]="10" 
                        [(ngModel)]="currentPage" 
                        (pageChanged)="buscaListaDespesa($event.page)" class="my-pagination"></pagination>
            <!-- {{currentPage}} -->
        </div>
    </div>
</div>